openapi: 3.1.0
info:
  title: PhraseLog API
  version: 1.0.0
  description: |
    Internal REST contract for PhraseLog v1 — the Next.js BFF ↔ Spring Boot
    interface (ADR-010). Browsers never call this API directly; they call
    Next.js route handlers, which validate the NextAuth session or anonymous
    session state and proxy here.

    Non-public endpoints require `X-Internal-Auth`: a short-lived signed (JWS)
    token minted per request by the Next.js server, carrying either the
    authenticated `user_id` or anonymous S02 `session_token` as claims.
    See docs/auth.md and ADR-010.

    Schema source of truth: data-model.md. AI behavior: AI_PIPELINE.md. Per-screen
    flow: docs/screens/sNN.md.

servers:
  - url: https://api.phraselog.app/api/v1
    description: Production
  - url: http://localhost:8080/api/v1
    description: Local dev

tags:
  - name: auth
    description: Current user, account lifecycle.
  - name: landing
    description: S01 public landing data.
  - name: transcriptions
    description: Standalone STT for S02 / S04 voice input (transcript confirm-and-edit flow).
  - name: analysis
    description: S02 / S04 → S07 AI analysis.
  - name: expressions
    description: S07 save, S08 library, S09 detail and soft delete.
  - name: review
    description: S10 spaced review queue and submissions.
  - name: practice
    description: S12 roleplay sessions, turns, and S12b result.
  - name: coaches
    description: S03b coach catalog.
  - name: home
    description: S04 aggregated dashboard.
  - name: usage
    description: S11 daily usage stats.
  - name: tts
    description: Audio playback for S07 / S09 / S12 / S12b.

security:
  - internalAuth: []

paths:

  # ───────────────────────────────────────────────────────────────────────────
  # Landing (S01)
  # ───────────────────────────────────────────────────────────────────────────

  /landing/examples:
    get:
      tags: [landing]
      summary: Random sample of active landing examples
      description: Returns 3 active examples sampled at random. Public; no auth required.
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  examples:
                    type: array
                    items:
                      $ref: "#/components/schemas/LandingExample"
                    minItems: 0
                    maxItems: 3

  # ───────────────────────────────────────────────────────────────────────────
  # Analysis (S02 / S04 → S07)
  # ───────────────────────────────────────────────────────────────────────────

  /transcriptions:
    post:
      tags: [transcriptions]
      summary: Transcribe a voice recording (STT only, no analysis)
      description: |
        Voice-input first step (decided 2026-06-10, s02.md): audio is
        transcribed here, the transcript is shown to the user for confirmation
        and editing, and the final text is submitted via `POST /analysis`
        (JSON). This keeps `/analysis` text-only and avoids spending an LLM
        analysis call on a mis-transcription. Roleplay turns (S12)
        intentionally do not use this endpoint; conversational flow uses
        one-shot multipart on `POST /practice/sessions/{id}/turns`.

        The Next.js BFF supplies `X-Internal-Auth` for both signed-in and
        pre-signup callers. Signed-in calls carry `user_id`; pre-signup S02
        calls carry `session_token`.
        Each call logs one `ai_request_logs` row with purpose
        `stt_transcription`.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
                  description: |
                    WebM/Opus from MediaRecorder, max 60 seconds. Because this
                    upload crosses the BFF boundary, verify Vercel function
                    request-body limits against real device recordings at W4.
      responses:
        "200":
          description: Transcript
          content:
            application/json:
              schema:
                type: object
                required: [transcript]
                properties:
                  transcript:
                    type: string
                  stt_confidence:
                    type: number
                    nullable: true
                    description: Model-dependent; null when unavailable (AI_PIPELINE.md).
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"

  /analysis:
    post:
      tags: [analysis]
      summary: Submit a Korean situation for AI analysis
      description: |
        Creates an `analysis_requests` row, calls the S07 LLM pipeline, returns the
        analysis with 3 variants. The Next.js BFF supplies `X-Internal-Auth`.
        Signed-in calls carry `user_id`; pre-signup S02 calls carry
        `session_token` and are subject to `anonymous_analysis_usage` rate
        limits.
      security:
        - internalAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/ClientIp"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [input_text]
              properties:
                input_text:
                  type: string
                  maxLength: 500
                  description: Korean situation text. Hard cap 500 chars per data-model.md.
                landing_example_id:
                  type: string
                  format: uuid
                  description: Optional reference if user clicked an S01 example card.
      responses:
        "201":
          description: Analysis created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalysisRequest"
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"

  /analysis/{analysis_request_id}:
    get:
      tags: [analysis]
      summary: Read a previously created analysis
      description: |
        S07 page entry. Returns the input + 3 variants. Spring Boot authorizes by
        `user_id` claim when authenticated, or by `session_token` claim for
        pre-signup access.
      security:
        - internalAuth: []
      parameters:
        - $ref: "#/components/parameters/AnalysisRequestId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnalysisRequest"
        "404":
          $ref: "#/components/responses/NotFound"

  # ───────────────────────────────────────────────────────────────────────────
  # Auth / Email magic link (S03, #19)
  # ───────────────────────────────────────────────────────────────────────────
  #
  # These five operations exist because Auth.js's email provider requires an
  # Adapter, and ADR-010 keeps the database behind Spring Boot. The adapter runs
  # in Next.js and reaches its storage through here rather than connecting to
  # RDS. See docs/auth.md.
  #
  # They are the only endpoints whose caller has no user yet, so they are
  # authorized by a dedicated `session_token` value (`__email_provisioning__`)
  # rather than a `user_id`. The OAuth provisioning token does not open them and
  # this one does not open OAuth provisioning — a leak on one side does not carry
  # the other side's authority.
  #
  # Response bodies here are camelCase, following `/auth/oauth/identity` (#18).
  # The rest of this contract is snake_case; unifying the two auth-provisioning
  # endpoints is tracked as follow-up work, not done piecemeal.

  /auth/email/verification-tokens:
    post:
      tags: [auth]
      summary: Store a magic-link verification token
      description: |
        Backs the Auth.js adapter's `createVerificationToken`. Called while the
        link is being sent, before anyone has clicked anything.

        `token` is the SHA-256 hash Auth.js computes over the raw token plus
        `AUTH_SECRET` — the raw token only ever exists in the email. The backend
        stores it verbatim and must not hash again. Token values are never
        logged.

        Rejects creation when the identifier already holds 5 unexpired tokens.
        This is a targeted guard against using our SES quota to mailbox-bomb a
        stranger, not a general rate limiter.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, token, expires]
              properties:
                identifier:
                  type: string
                  format: email
                  description: Email address. Normalized to lowercase by the backend.
                token:
                  type: string
                  maxLength: 255
                  description: Hashed token from Auth.js. Never the raw value from the email.
                expires:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationToken"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"

  /auth/email/verification-tokens/consume:
    post:
      tags: [auth]
      summary: Fetch and delete a verification token in one transaction
      description: |
        Backs the adapter's `useVerificationToken`. Delete-and-return is atomic
        so a replayed link cannot authenticate twice — the second click finds
        nothing and lands on S03's expired-link state.

        Expiry is deliberately **not** judged here. Auth.js owns the
        `Verification` error and compares `expires` itself, so an expired row is
        returned once and then gone. Judging it on both sides invites the two to
        disagree. Each call also purges rows past their expiry so the table does
        not grow without bound.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, token]
              properties:
                identifier:
                  type: string
                  format: email
                token:
                  type: string
      responses:
        "200":
          description: Token found and consumed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificationToken"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: |
            No such token — expired, already used, or never issued. The three are
            indistinguishable by design; the row is gone either way. The BFF maps
            this to `null`, which is Auth.js's contract for "not found". Any other
            failure status must propagate as an error instead, or an outage would
            read to the user as an invalid link.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/email/identity/lookup:
    post:
      tags: [auth]
      summary: Find an existing user by verified email address (read-only)
      description: |
        Backs the adapter's `getUserByEmail`, which Auth.js calls **while the
        link is being sent** — before the recipient has proven anything. This
        operation therefore creates nothing. Folding it into the resolve
        operation below would turn the S03 form into an account-minting oracle:
        typing a stranger's address would create an account in their name.

        The address travels in the body rather than a query parameter because an
        email in a URL ends up in access logs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailIdentityRequest"
      responses:
        "200":
          description: An active user holds this address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailIdentity"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No active user for this address. Nothing was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /auth/email/identity:
    post:
      tags: [auth]
      summary: Resolve a verified email address to a user, creating or linking
      description: |
        Backs the adapter's `createUser`. Called only after the magic link came
        back, so mailbox ownership is proven. Idempotent by address.

        Resolution order:
        1. An `email` identity for this address exists → return that user.
        2. No `email` identity, but an active `users` row holds the address →
           **attach** an `email` identity to that user and return it.
        3. Neither → create the user and the identity.

        Case 2 is where this diverges from `/auth/oauth/identity`, which raises
        `account_link_required` in the same situation. The difference is
        deliberate: an OAuth provider's claimed email is a claim, while a clicked
        magic link is proof of mailbox control (s03.md, same-email edge case).
        `OAuthIdentityService` is untouched by this path.

        A `scheduled_deletion_at` on the resolved user is cleared, matching the
        OAuth sign-in behavior, and reported back as `canceledScheduledDeletion`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailIdentityRequest"
      responses:
        "200":
          description: Resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailIdentity"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/email/identity/link:
    post:
      tags: [auth]
      summary: Ensure an email identity exists for a known user id
      description: |
        Backs the adapter's `updateUser`, which Auth.js calls when
        `getUserByEmail` already found someone. That call hands the adapter
        `{ id, emailVerified }` and **no address**, so the address-keyed resolve
        operation above is unreachable from the one path that needs it. Without
        this endpoint the linking case would be code that never runs in
        production while its own tests pass.

        Idempotent: the address is read from the user's own `users` row, so
        calling it repeatedly leaves exactly one `email` identity.

        `emailVerified` is discarded by the adapter — `users` has no such column.
        Reaching this endpoint already means Auth.js verified the link.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: string
                  format: uuid
      responses:
        "200":
          description: Linked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailIdentity"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: No active user with this id.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ───────────────────────────────────────────────────────────────────────────
  # Auth / Current user (S03 / S03b / S11)
  # ───────────────────────────────────────────────────────────────────────────

  /me:
    get:
      tags: [auth]
      summary: Current user profile and selected coach
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"

    patch:
      tags: [auth]
      summary: Update profile and onboarding state
      description: |
        Used by S03b (coach selection completion sets `is_onboarded=true`) and S11
        (display name update, coach change).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                  maxLength: 100
                selected_coach_id:
                  type: string
                  format: uuid
                is_onboarded:
                  type: boolean
                  description: Set true on S03b completion. Cannot be set false via API.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"

    delete:
      tags: [auth]
      summary: Schedule account deletion
      description: |
        Sets `scheduled_deletion_at = now() + 14 days`. Account is hard-deleted by
        daily job after grace period. Cancelable via POST /me/cancel-deletion
        within the window.
      responses:
        "204":
          description: Scheduled
        "401":
          $ref: "#/components/responses/Unauthorized"

  /me/cancel-deletion:
    post:
      tags: [auth]
      summary: Cancel scheduled account deletion
      description: Clears `scheduled_deletion_at`. No-op if not scheduled.
      responses:
        "204":
          description: Cancelled
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ───────────────────────────────────────────────────────────────────────────
  # Coaches (S03b)
  # ───────────────────────────────────────────────────────────────────────────

  /coaches:
    get:
      tags: [coaches]
      summary: List all coach profiles
      description: Seed data — Mia, David, Sarah. Used by S03b card render.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coaches:
                    type: array
                    items:
                      $ref: "#/components/schemas/Coach"

  # ───────────────────────────────────────────────────────────────────────────
  # Home (S04)
  # ───────────────────────────────────────────────────────────────────────────

  /home/dashboard:
    get:
      tags: [home]
      summary: Aggregated S04 home data
      description: |
        Single call that returns user + coach + bookshelf count + recent expressions
        (2) + due review count + today's roleplay session count. Replaces multiple
        round trips during S04 first paint.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: "#/components/schemas/User"
                  coach:
                    nullable: true
                    description: >-
                      null when the user has no resolvable selected coach;
                      the client renders the fallback greeting (s04.md).
                    $ref: "#/components/schemas/Coach"
                  bookshelf_count:
                    type: integer
                    description: Active (non-deleted) expressions count.
                  recent_expressions:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExpressionListItem"
                    maxItems: 2
                  due_review_count:
                    type: integer
                  today_roleplay_session_count:
                    type: integer
                  daily_roleplay_limit:
                    type: integer
                    description: 2 in v1.
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ───────────────────────────────────────────────────────────────────────────
  # Expressions (S07 save / S08 library / S09 detail / S09 delete)
  # ───────────────────────────────────────────────────────────────────────────

  /expressions:
    post:
      tags: [expressions]
      summary: Save an analysis result to the library
      description: |
        Creates one `expressions` row plus 3 `expression_variants` rows plus one
        `review_cards` row in a single transaction. Idempotent: re-posting the same
        `analysis_request_id` returns the existing expression (409 with location)
        rather than duplicating.

        Pending-save claim (#42): the internal token always carries the authenticated
        `user_id`. When the analysis was created pre-signup, the BFF also sends the
        original anonymous `session_token` in the body. Spring Boot claims the row
        (sets `user_id`, clears `session_token`) only when it is still anonymous and the
        token matches; a mismatch or already-claimed row is 404. The `session_token`
        XOR invariant of `X-Internal-Auth` is unchanged — the claim travels in the body,
        not the token.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [analysis_request_id]
              properties:
                analysis_request_id:
                  type: string
                  format: uuid
                selected_variant_order:
                  type: integer
                  enum: [1, 2, 3]
                  default: 1
                  description: Which variant becomes the default. Default 1.
                session_token:
                  type: string
                  maxLength: 64
                  description: |
                    Pending-save claim token (#42): the original anonymous S02
                    `session_token` that produced the analysis. Present only when an
                    authenticated user claims a pre-signup analysis; omitted for ordinary
                    authenticated saves. A token mismatch / expired token yields 404.
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expression"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

    get:
      tags: [expressions]
      summary: List user's saved expressions (paginated)
      description: |
        S08 library. Supports keyword search via `q` (matches against English text
        and Korean original situation). Sorted by `created_at` DESC.
      parameters:
        - in: query
          name: q
          schema:
            type: string
          description: Optional keyword filter (Korean or English)
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/ExpressionListItem"
                  next_cursor:
                    type: string
                    nullable: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /expressions/{expression_id}:
    get:
      tags: [expressions]
      summary: Full detail of one expression with all variants
      parameters:
        - $ref: "#/components/parameters/ExpressionId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expression"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [expressions]
      summary: Soft-delete an expression
      description: "Sets `expressions.deleted_at = now()`. Cascade behavior: removes from library, review queue, and bookshelf count. No undo UI in v1."
      parameters:
        - $ref: "#/components/parameters/ExpressionId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ───────────────────────────────────────────────────────────────────────────
  # Review (S10 / S09 queue removal)
  # ───────────────────────────────────────────────────────────────────────────

  /review/today:
    get:
      tags: [review]
      summary: Today's due review cards
      description: |
        Cards where `next_review_at <= now()` AND `removed_from_queue_at IS NULL`
        AND parent expression not soft-deleted. Returns first batch of up to N.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
            maximum: 50
        - in: query
          name: exclude_ids
          description: Comma-separated review_card_id list already loaded in this session
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cards:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReviewCard"
                  total_due:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /review/{review_card_id}/submit:
    post:
      tags: [review]
      summary: Submit a rating for a review card
      description: |
        Writes one `review_attempts` row (history) and updates `review_cards`
        (latest state). Returns the computed next interval.
      parameters:
        - in: path
          name: review_card_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: string
                  enum: [hard, good, easy]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  review_card_id:
                    type: string
                    format: uuid
                  previous_interval_days:
                    type: integer
                  next_interval_days:
                    type: integer
                  next_review_at:
                    type: string
                    format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /review/{review_card_id}/remove-from-queue:
    post:
      tags: [review]
      summary: Remove an expression from the review queue without deleting it
      description: |
        Triggered from S09 detail. Sets `removed_from_queue_at = now()`. Expression
        remains in library and bookshelf count.
      parameters:
        - in: path
          name: review_card_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Removed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /review/{review_card_id}/re-add-to-queue:
    post:
      tags: [review]
      summary: Re-add a previously removed expression to the review queue
      description: |
        Inverse of remove-from-queue. Triggered from S09 detail when the card was
        previously removed (`removed_from_queue_at IS NOT NULL`). Clears
        `removed_from_queue_at`. Re-entry scheduling matches a newly saved card:
        `next_review_at = now()`, `current_interval_days = 1` (PRD Open Question
        5, resolved 2026-06-10).
      parameters:
        - in: path
          name: review_card_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Re-added
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  # ───────────────────────────────────────────────────────────────────────────
  # Practice / Roleplay (S12 / S12b)
  # ───────────────────────────────────────────────────────────────────────────

  /practice/sessions:
    post:
      tags: [practice]
      summary: Start a roleplay session
      description: |
        Creates a `practice_sessions` row and calls the LLM session-init prompt to
        decide `planned_turns` (3-10). Returns session + first coach turn (the
        scenario opening utterance). Subject to daily limit (2 per user per day).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [expression_id]
              properties:
                expression_id:
                  type: string
                  format: uuid
                coach_id:
                  type: string
                  format: uuid
                  description: Defaults to user's selected_coach_id if omitted.
      responses:
        "201":
          description: Started
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PracticeSession"
                  - type: object
                    properties:
                      opening_turn:
                        $ref: "#/components/schemas/PracticeTurn"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimitExceeded"

  /practice/sessions/{session_id}:
    get:
      tags: [practice]
      summary: Get session state with all turns
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PracticeSession"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /practice/sessions/{session_id}/turns:
    post:
      tags: [practice]
      summary: Submit a user turn, receive coach response + optional feedback card
      description: |
        Accepts user input (voice via audio upload, or text). Runs STT if audio,
        then LLM coach response, then Haiku feedback evaluation, then TTS for coach
        audio. Returns the coach turn and feedback card (if shown).
      parameters:
        - $ref: "#/components/parameters/SessionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                audio:
                  type: string
                  format: binary
                  description: WebM/Opus audio from MediaRecorder. Either audio OR text_content required.
                text_content:
                  type: string
                  description: Direct text input when user uses keyboard fallback.
          application/json:
            schema:
              type: object
              properties:
                text_content:
                  type: string
      responses:
        "200":
          description: OK — coach turn (and feedback if applicable)
          content:
            application/json:
              schema:
                type: object
                required: [turn_consumed, session_status]
                properties:
                  turn_consumed:
                    type: boolean
                    description: false when blank/low-confidence input did not consume a user turn.
                  retry_prompt:
                    type: string
                    nullable: true
                    description: Present when turn_consumed=false; UI prompts the user to try again.
                  user_turn:
                    nullable: true
                    $ref: "#/components/schemas/PracticeTurn"
                  coach_turn:
                    nullable: true
                    $ref: "#/components/schemas/PracticeTurn"
                  feedback:
                    nullable: true
                    $ref: "#/components/schemas/TurnFeedback"
                  session_status:
                    type: string
                    enum: [active, completed]
                    description: completed when planned_turns reached after this turn.
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /practice/sessions/{session_id}/result:
    post:
      tags: [practice]
      summary: Generate (or fetch) the S12b roleplay result
      description: |
        Calls Sonnet result prompt once, stores `result_json` on the session. Re-invocation
        returns cached result without re-charging.
      parameters:
        - $ref: "#/components/parameters/SessionId"
      responses:
        "200":
          description: Result available
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PracticeResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /practice/sessions/{session_id}/save-expression:
    post:
      tags: [practice]
      summary: Save a recommended expression from S12b result
      description: |
        Creates one `expressions` row (source_type=roleplay_result) plus 3 `expression_variants`
        plus one `review_cards`. Same return shape as POST /expressions.
      parameters:
        - $ref: "#/components/parameters/SessionId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [recommended_expression_index]
              properties:
                recommended_expression_index:
                  type: integer
                  minimum: 0
                  maximum: 2
                  description: Index into result_json.recommended_expressions array.
      responses:
        "201":
          description: Saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Expression"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Session has no cached result yet, is not completed, or this save is a duplicate.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/Expression"
                  - $ref: "#/components/schemas/Error"

  # ───────────────────────────────────────────────────────────────────────────
  # Usage stats (S11)
  # ───────────────────────────────────────────────────────────────────────────

  /usage/today:
    get:
      tags: [usage]
      summary: Today's usage counters
      description: For S11 display. Roleplay session count and analysis count.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roleplay_session_count:
                    type: integer
                  daily_roleplay_limit:
                    type: integer
                  analysis_count:
                    type: integer
                  analysis_limit:
                    type: integer
                    nullable: true
                    description: null = unlimited in v1.
        "401":
          $ref: "#/components/responses/Unauthorized"

  # ───────────────────────────────────────────────────────────────────────────
  # TTS playback (S07 / S09 / S12 / S12b)
  # ───────────────────────────────────────────────────────────────────────────

  /tts/playback:
    post:
      tags: [tts]
      summary: Request TTS audio for a given text and voice
      description: |
        Looks up tts_audio_cache. Cache miss → calls OpenAI TTS, writes S3 + cache
        row, returns signed URL. Cache hit returns existing signed URL.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text, voice_id]
              properties:
                text:
                  type: string
                voice_id:
                  type: string
                  description: From coach_profiles.tts_voice_id.
                expression_variant_id:
                  type: string
                  format: uuid
                  nullable: true
                  description: Optional — when set, backend persists tts_audio_cache_id link on the variant.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  audio_url:
                    type: string
                    format: uri
                    description: >-
                      S3 signed GET URL, 12-hour expiry. The client refetches
                      via this endpoint on expiry (a cache hit, no extra cost).
                      Expiry is bounded by the EC2 instance role's temporary
                      credential lifetime, so a 7-day presigned URL is not
                      achievable with instance-role signing.
                  duration_ms:
                    type: integer
                  cache_status:
                    type: string
                    enum: [hit, miss]
        "401":
          $ref: "#/components/responses/Unauthorized"

components:

  securitySchemes:
    internalAuth:
      type: apiKey
      in: header
      name: X-Internal-Auth
      description: |
        Short-lived signed (JWS) internal service token minted by the Next.js
        BFF, binding authenticated `user_id` or anonymous S02 `session_token`
        as claims. Signed with `INTERNAL_AUTH_SECRET` shared only between
        Next.js server and Spring Boot. See docs/auth.md and ADR-010.

  parameters:
    IdempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema:
        type: string
        format: uuid
      description: Client-generated UUID to deduplicate POST retries.
    ClientIp:
      in: header
      name: X-Client-IP
      schema:
        type: string
      description: |
        Internal BFF-to-Spring handoff of the normalized browser client IP.
        Required for anonymous `session_token` calls to `POST /analysis` so
        Spring Boot can apply `anonymous_analysis_usage` by IP/day. The value
        must be one IP literal, not a forwarding chain. Authenticated `user_id`
        calls do not use this value for v1 analysis limiting.
    Cursor:
      in: query
      name: cursor
      schema:
        type: string
      description: Opaque pagination cursor returned by previous response.
    Limit:
      in: query
      name: limit
      schema:
        type: integer
        default: 20
        maximum: 100
    AnalysisRequestId:
      in: path
      name: analysis_request_id
      required: true
      schema:
        type: string
        format: uuid
    ExpressionId:
      in: path
      name: expression_id
      required: true
      schema:
        type: string
        format: uuid
    SessionId:
      in: path
      name: session_id
      required: true
      schema:
        type: string
        format: uuid

  responses:
    Unauthorized:
      description: Missing or invalid internal auth token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found or not owned by current user
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ValidationError:
      description: Request body or parameters failed validation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Request conflicts with current resource state or idempotency state
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalServerError:
      description: Unexpected backend error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:

    Error:
      type: object
      required: [error_code, user_message, developer_hint, retryable, request_correlation_id]
      properties:
        error_code:
          type: string
          example: validation_failed
        user_message:
          type: string
          description: Korean, user-safe message. Never include secrets or raw user input.
          example: 입력값을 다시 확인해 주세요.
        developer_hint:
          type: string
          description: Likely fix for agents/developers. Must not include raw user input or secrets.
          example: Validate request body and parameters before calling the service.
        retryable:
          type: boolean
          example: false
        request_correlation_id:
          type: string
          description: Matches X-Request-Correlation-Id and structured logs.
          example: 4d6f43ef-0f4a-46c7-934f-9eec4dd0e7d7

    # ── Email magic link (S03, #19) ──
    # camelCase here follows /auth/oauth/identity (#18); see the note above the
    # /auth/email/* paths.

    VerificationToken:
      type: object
      required: [identifier, token, expires]
      properties:
        identifier:
          type: string
          format: email
          description: Lowercased email address.
          example: woojoo@phraselog.app
        token:
          type: string
          description: >-
            The hashed token, echoed back. Never the raw value from the email,
            and never written to logs.
        expires:
          type: string
          format: date-time

    EmailIdentityRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          description: Normalized to trimmed lowercase before lookup.

    EmailIdentity:
      type: object
      required:
        [
          userId,
          email,
          isOnboarded,
          createdUser,
          canceledScheduledDeletion,
          linkedToExistingUser,
        ]
      properties:
        userId:
          type: string
          format: uuid
        email:
          type: string
          format: email
        displayName:
          type: string
          nullable: true
        isOnboarded:
          type: boolean
          description: Drives S03 AC3 routing — false sends the user to /welcome/coach.
        createdUser:
          type: boolean
          description: True only when this call created the users row.
        canceledScheduledDeletion:
          type: boolean
          description: True when signing in cleared a pending scheduled_deletion_at.
        linkedToExistingUser:
          type: boolean
          description: >-
            True when an email identity was attached to a user who had signed up
            through another provider. This is the same-email case that OAuth
            refuses and the magic link allows.

    LandingExample:
      type: object
      required: [id, korean_text]
      properties:
        id:
          type: string
          format: uuid
        korean_text:
          type: string

    Coach:
      type: object
      required: [id, slug, display_name, persona_summary, tts_voice_id]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          enum: [mia, david, sarah]
        display_name:
          type: string
        persona_summary:
          type: string
        tts_voice_id:
          type: string

    User:
      type: object
      required: [id, email, is_onboarded, created_at]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        display_name:
          type: string
          nullable: true
        selected_coach_id:
          type: string
          format: uuid
          nullable: true
        is_onboarded:
          type: boolean
        created_at:
          type: string
          format: date-time
        scheduled_deletion_at:
          type: string
          format: date-time
          nullable: true
          description: Set when account deletion is scheduled. null = active.

    ExpressionVariant:
      type: object
      required: [id, variant_order, english_text]
      properties:
        id:
          type: string
          format: uuid
        variant_order:
          type: integer
          enum: [1, 2, 3]
        tone_label:
          type: string
          nullable: true
          description: AI-generated dynamic Korean phrase. NOT a fixed enum.
        english_text:
          type: string
        ipa:
          type: string
          nullable: true
        korean_pronunciation:
          type: string
          nullable: true
        pronunciation_tip:
          type: string
          nullable: true
        cultural_tip:
          type: string
          nullable: true
        tts_audio_url:
          type: string
          format: uri
          nullable: true
          description: Convenience — signed URL if TTS already cached for this variant.

    AnalysisRequest:
      type: object
      required: [id, input_text, variants, created_at]
      properties:
        id:
          type: string
          format: uuid
        input_text:
          type: string
        variants:
          type: array
          items:
            $ref: "#/components/schemas/ExpressionVariant"
          minItems: 3
          maxItems: 3
        prompt_version:
          type: string
        created_at:
          type: string
          format: date-time

    Expression:
      type: object
      required: [id, source_type, original_situation, variants, created_at]
      properties:
        id:
          type: string
          format: uuid
        source_type:
          type: string
          enum: [analysis, roleplay_result]
        analysis_request_id:
          type: string
          format: uuid
          nullable: true
        practice_session_id:
          type: string
          format: uuid
          nullable: true
        original_situation:
          type: string
        selected_variant_id:
          type: string
          format: uuid
          nullable: true
        variants:
          type: array
          items:
            $ref: "#/components/schemas/ExpressionVariant"
          minItems: 3
          maxItems: 3
        review_card_id:
          type: string
          format: uuid
          nullable: true
          description: null if removed_from_queue.
        next_review_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time

    ExpressionListItem:
      type: object
      description: Compact projection used by S04 home and S08 library list.
      required: [id, original_situation, english_text, created_at]
      properties:
        id:
          type: string
          format: uuid
        original_situation:
          type: string
        english_text:
          type: string
          description: From selected_variant.
        tone_label:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    ReviewCard:
      type: object
      required: [id, expression_id, next_review_at, current_interval_days]
      properties:
        id:
          type: string
          format: uuid
        expression_id:
          type: string
          format: uuid
        next_review_at:
          type: string
          format: date-time
        last_reviewed_at:
          type: string
          format: date-time
          nullable: true
        last_rating:
          type: string
          enum: [hard, good, easy]
          nullable: true
        current_interval_days:
          type: integer
        original_situation:
          type: string
        variant:
          $ref: "#/components/schemas/ExpressionVariant"
          description: The selected variant for review front/back rendering.

    PracticeSession:
      type: object
      required: [id, status, planned_turns, started_at, coach_id, expression_id]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, completed, abandoned]
        planned_turns:
          type: integer
          minimum: 3
          maximum: 10
        coach_id:
          type: string
          format: uuid
        expression_id:
          type: string
          format: uuid
          nullable: true
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true
        result_json:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PracticeResult"
          description: Cached S12b result. Null until POST /practice/sessions/{id}/result succeeds.
        turns:
          type: array
          items:
            $ref: "#/components/schemas/PracticeTurn"
          description: Included on GET /practice/sessions/{id}, omitted on POST /sessions response.

    PracticeTurn:
      type: object
      required: [id, turn_number, speaker, created_at]
      properties:
        id:
          type: string
          format: uuid
        turn_number:
          type: integer
        speaker:
          type: string
          enum: [user, coach]
        text_content:
          type: string
          nullable: true
        tts_audio_url:
          type: string
          format: uri
          nullable: true
        stt_confidence:
          type: number
          nullable: true
          minimum: 0
          maximum: 1
        feedback_shown:
          type: boolean
        created_at:
          type: string
          format: date-time

    TurnFeedback:
      type: object
      description: Haiku-generated per-turn feedback card. See AI_PIPELINE.md roleplay_turn_feedback_v1.
      properties:
        show_feedback:
          type: boolean
        natural_alternative:
          type: string
          nullable: true
        korean_comment:
          type: string
          nullable: true

    PracticeResult:
      type: object
      description: Sonnet-generated session summary. See AI_PIPELINE.md roleplay_result_v1.
      required:
        - recommended_expressions
        - awkward_pairs
        - pronunciation_focus_words
        - coach_encouragement
      properties:
        recommended_expressions:
          type: array
          minItems: 3
          maxItems: 3
          items:
            type: object
            required:
              - english
              - tone_label
              - ipa
              - korean_pronunciation
              - pronunciation_tip
              - cultural_tip
            properties:
              english:
                type: string
              tone_label:
                type: string
              ipa:
                type: string
              korean_pronunciation:
                type: string
              pronunciation_tip:
                type: string
              cultural_tip:
                type: string
        awkward_pairs:
          type: array
          maxItems: 3
          items:
            type: object
            required: [user_said, natural_version, comment]
            properties:
              user_said:
                type: string
              natural_version:
                type: string
              comment:
                type: string
        pronunciation_focus_words:
          type: array
          items:
            type: string
        coach_encouragement:
          type: string
